$colorPrimario:#433692;
$colorSecundario:#f8f3f0;
$colorTerciario: #170e4e;
$letraPrimaria: "Raleway", sans-serif;
$letraSecundaria: "Roboto", sans-serif;
$bibliotecaUbicacion:"../img/biblioteca.jpg";